@charset "utf-8";
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,
blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,
q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,table,caption,tbody,tfoot,thead,
tr,th,td,article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
  font-weight: normal;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display: block;
}
table{
border-collapse: collapse;
border-spacing: 0;
}

ul,
ol {
  list-style: none;
}
html {
  font-size: 10px;
}
a{
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  color: #333;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  background: #f3f9f8;
  color: #333;
  font-size: 1.6rem;
  font-family: "Segoe UI,SegoeUI,Helvetica Neue","Yu Gothic Medium", "游ゴシック Medium", "游ゴシック体", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif;
  line-height: 1.5;
}
img {
  display: block;
  max-width: 100%;
}
input{
  font-size: 1.6rem;
}

/*-------------------------------------------------------

フォーム リセット

----------------------------------------------------------*/ 
input[type="text"] {
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
}
input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + label {
  background: #ff0000;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked + label {
  background: #ff0000;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
}
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: none;
  padding: 0;
  border: 0;
  outline: none;
  background: transparent;
}
button,
input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
}
